node_modules
.env
coverage.json
coverage-hh/
coverage-forge/
typechain
typechain-types
cache
artifacts
.turbo
.vscode
dist
.DS_Store
out/
zkout/
lcov.info
lcov.info.pruned
coverage/
broadcast/
*deployments*
*collections*
*whitelist*
*invalid*
*.tmp
