node_modules
.env
coverage.json
typechain
typechain-types
cache
artifacts
.turbo
.vscode
dist
.DS_Store
out/
lcov.info
lcov.info.pruned
coverage/
broadcast/
*deployments*
*collections*
*whitelist*
*invalid*
*.tmp
/artifacts-zk
/cache-zk
