node_modules
.env
coverage.json
typechain
typechain-types
cache
artifacts
.turbo
.vscode
dist
.DS_Store
out/
lcov.info
lcov.info.pruned
coverage/
broadcast/
*deployments*
*whitelist*
*invalid*
*.tmp

# Ignore all collections folders and their contents
**/collections/*

# Allow example and template folders in all collections directories
!**/collections/example/
!**/collections/template/
