name: ci

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js '18.x'
        uses: actions/setup-node@v2
        with:
          node-version: "18.x"
      - name: Install dependencies
        run: npm ci
      - name: Install Cosign Server dependencies
        run: cd cosign-server && npm ci
      - name: Build magicdrop
        run: npm run build
      - name: Run lint
        run: npm run lint
      - name: Run Coverage and Upload to CodeCov
        run: |
          npm run coverage; \
          curl -Os https://uploader.codecov.io/latest/linux/codecov; \
          chmod +x codecov; \
          ./codecov;
  slither:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure git safe directory
        run: git config --global --add safe.directory /github/workspace
      - uses: crytic/slither-action@35510b34cfdfb137d9816d27378ee8c217f1fa1c
        with:
          fail-on: low
          slither-version: d8e526e53ff690bd24c260042117efab5ce9c271
          slither-args: "--exclude-dependencies"
